/* About Us Section */
.about {
    padding: 4rem 12rem;
    background-color: #000;
  }
  
  .heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
  }
  
  .heading span {
    color: #00acac;
  }
  
  .about .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .about .row .content {
    flex: 1 1 45%;
    max-width: 45%;
    text-align: center;
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  .about .row .content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #00acac;
  }
  
  .about .row .content p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .about .row .image {
    width: 50%;
    height: 600px;
  }
  
  .about .row .image img {
    width: 105%;
    height: 85%;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  @media (max-width: 1024px) {
    .about {
      padding: 3rem 8rem;
    }
    .about .row .content,
    .about .row .image {
      max-width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .about {
      padding: 2rem;
    }
    .about .row {
      flex-direction: column;
    }
  }