.main-page {
  color: #fff;
  background-color: #000;
}
  
.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: 
    linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent),
    url('../assets/Crazy-cart-1.jpg'); /* Replace with your actual image path */
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}
  
.hero-text {
  position: relative;
  z-index: 1;
  max-width: 600px;
}
  
.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Dark overlay for better text visibility */
  z-index: 0;
}
  
.highlight {
  color: #00acac;
}
  
.social-media-buttons a box-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
  
.hire-me-button {
  background-color: transparent;
  border: 2px solid #00acac; /* Change border color */
  color: #00acac; /* Text color */
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
  
.hire-me-button:hover {
  background-color: #00acac !important; /* Background color on hover */
  color: black !important; /* Text color on hover */
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  max-width: 100%;
  padding: 2rem;
  background-color: black;
}

.about-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  color: #00acac;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
}

.text-container {
  flex: 1;
  background-color: #ffffff;
  padding: 2rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 600px;
}

.text-container p {
  line-height: 1.6;
  color: #333333;
}

.imgAbout-section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

/* Services Section Styles */
.services-section {
  padding: 2rem;
  background-color: #f2e9ff;
  text-align: center;
}

.services-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #333;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

/* Gallery Image Styles */
.img-box {
  width: 100px;
  height: 200px;
  margin: 12px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.img-box h3 {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease, bottom 0.3s ease;
}

.img-box:hover {
  width: 300px;
  height: 400px;
  cursor: pointer;
}

.img-box:hover h3 {
  opacity: 1;
  bottom: 0;
}

.gallery-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.expanded-img {
  max-width: 80%;
  max-height: 80%;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

