.faq-page {
    background-color: #2c2c2c;
    color: #ffffff;
    padding: 20px 20px 100px 20px;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .faq-title-container {
    margin-bottom: 50px;
    text-align: center;
  }
  
  .faq-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
  }
  
  .faq-title .highlight {
    color: #00acac;
  }
  
  .faq-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
  }
  
  .faq-list {
    list-style: none;
    padding: 0;
  }
  
  .faq-item {
    margin-bottom: 25px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .faq-toggler {
    background: #3a3a3a;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    transition: background-color 0.2s;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .faq-toggler:hover {
    background-color: #333;
  }
  
  .faq-content {
    display: none;
    background: #4a4a4a;
    padding: 15px;
    font-size: 1rem;
    color: #cfcfcf;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .faq-content.visible {
    display: block;
  }
  
  .icon {
    transition: transform 0.2s;
  }
  
  .icon.rotated {
    transform: rotate(180deg);
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .faq-columns {
      grid-template-columns: 1fr; /* Uma coluna em telas menores */
      gap: 10px;
    }
  
    .faq-title {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 480px) {
    .faq-toggler {
      font-size: 1rem;
      padding: 10px;
    }
  
    .faq-title {
      font-size: 1.8rem;
    }
  }
  