/* Estilo padrão da navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0; /* Inicialmente invisível */
    animation: fadeIn 0.6s ease-in-out forwards; /* Animação de fade-in */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); /* Adiciona sombra para destacar */
    z-index: 1000; /* Garante que a navbar fique no topo */
}
.nav-blk{
    background-color: #000000;
}
.nav-col-cel{
    background-color: #ffffff;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px); /* Move ligeiramente para cima */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Retorna à posição original */
    }
}

/* Logo da navbar */
.navbar-logo {
    width: 6%;
    height: auto;
    margin-right: 1%;
    border-radius: 100%;
    opacity: 1; /* Sempre visível */
    transform: translateX(0);
    animation: slideLogo 1s ease forwards; /* Animação de deslize para o logo */
}

@keyframes slideLogo {
    from {
        transform: translateX(30vw); /* Começa do centro */
    }
    to {
        transform: translateX(0); /* Fica na posição normal */
    }
}

/* Desativa a animação do logo na página inicial */
.navbar-logo.no-animation {
    animation: none;
    transform: translateX(0);
}

/* Links da navbar */
.navbar-nav .nav-link {
    color: #00acac;
    font-size: 1.2rem;
    margin: 0 10px;
    opacity: 0;
    transform: translateX(-20px); /* Começa deslocado para a esquerda */
    transition: opacity 0.5s ease, transform 0.5s ease, color 0.3s ease;
    animation: slideLinks 0.8s ease forwards;
    animation-delay: 0.3s; /* Delay para aparecer após o logo */
}

.navbar.green-navbar .nav-link {
    color: rgb(0, 204, 0); /* Cor para rotas OL */
    transition: color 0.3s ease;
}

@keyframes slideLinks {
    from {
        transform: translateX(-30px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.navbar-nav .nav-link:hover {
    color: white;
}

.navbar-nav .nav-link.selected {
    color: white;
}

/* Animação para rodar seta */
.rotate {
    transition: transform 0.3s ease-in-out;
    transform: rotate(180deg);
}

.rotate-back {
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
}

/* Estilo específico para a página inicial "/" */
.navbar.home-page {
    justify-content: center; /* Centraliza o logo */
    padding: 10px 0; /* Ajusta o padding */
}

.navbar.home-page .navbar-nav,
.navbar.home-page .navbar-toggle {
    display: none; /* Esconde os links e o botão de menu */
}

/* Estilo responsivo */
@media (max-width: 991px) {
    .rotate {
        transform: rotate(270deg);
    }
    .rotate-back {
        transform: rotate(90deg);
    }

    .navbar-toggle {
        border: none;
        color: #00acac;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav .nav-link {
        font-size: 1.2rem;
        margin: 10px 0;
        opacity: 1; /* Garante que os links são visíveis */
        transform: translateX(0);
        animation: none;
        padding-left: 4vh;
        padding-right: 4vh;
    }

    .navbar-nav .nav-link:hover {
        color: white;
    }
    .navbar-logo {
        width: 8%;
    }
}
@media (max-width: 768px) {
    .navbar-logo {
        width: 10%;
    }
}
@media (max-width: 500px) {
    .navbar-logo {
        width: 14%;
    }
}
.btn-custom-form{
    color: white;
    border: 1px solid white;
}
.custom-btn-form {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 7px;
    background: transparent;
    transition: background-color 0.3s, color 0.3s;
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;
  }
  
  .custom-btn-form:hover {
    background-color: white;
    color: black;
  }

.toggle-theme-btn{
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.toggle-theme-btnw{
    background-color: rgb(232, 232, 232); 
}

.theme-toggle-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.theme-toggle-btn:hover {
    background-color: #6a6a6a;
    transform: scale(1.05);
}

/*---------------------------------Light mode--------------------------------*/

.navbar-light-mode {
    background-color: rgb(232, 232, 232); 
    color: rgb(0, 0, 0);  
}

body.light-mode {
    background-color: rgb(232, 232, 232);
    color: rgb(0, 0, 0); 
}

body.light-mode .navbar {
    background-color: rgb(232, 232, 232);
    color: rgb(0, 0, 0); 
}

/* Modo claro */
.custom-btn-formw{
    color: black;
    border: 1px solid black;
}

.custom-btn-formw:hover {
    background-color: black;
    color: white;
}

body.light-mode .navbar-nav .nav-link:hover {
    color: rgb(0, 0, 0); /* Links no modo claro */
}

body.light-mode .navbar-nav .nav-link.selected {
    color: rgb(0, 0, 0);
}

body.light-mode .theme-toggle-btn{
    background-color: rgb(232, 232, 232);
    color: rgb(0, 0, 0);
}

body.light-mode .theme-toggle-btn:hover {
    background-color: #9d9d9d;
    transform: scale(1.05);
}

body.light-mode .navbar-nav .nav-link.selected {
    color: rgb(0, 0, 0);
}

body.light-mode .navbar-logo {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
@media (max-width: 991px) {
    body.light-mode .navbar {
        background-color: white; /* Define o fundo branco para a navbar */
    }
    body.light-mode .navbar-nav {
        background-color: white; /* Define o fundo branco para os itens da navbar */
    }
    body.light-mode .navbar-collapse {
        background-color: white; /* Garante o fundo branco na área colapsada */
    }
}

@media (max-width: 991px) {
    .parque-link {
        border-bottom: 2px solid rgba(0, 0, 0, 1); /* Traço discreto */
    }
}