/* Navbar styles */
.navbar {
    background-color: #000000;
    padding: 1rem;
}

.navbar-nav .nav-link {
    color: #00acac; /* Cor cinza para as escolas não selecionadas */
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

/* Muda para branco ao passar o mouse */
.navbar-nav .nav-link:hover {
    color: white;
}

/* Muda para branco quando a escola está selecionada */
.navbar-nav .nav-link.selected {
    color: white;
}

/* Animação de rotação da seta */
.rotate {
    transition: transform 0.3s ease-in-out;
    transform: rotate(180deg); /* Rotaciona 180º quando a Escola B está selecionada */
}

/* Reverte a rotação quando a Escola A está selecionada */
.rotate-back {
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
}
@media (max-width: 991px) {
    .rotate {
        transition: transform 0.3s ease-in-out;
        transform: rotate(270deg); /* Rotaciona 180º quando a Escola B está selecionada */
    }
}
@media (max-width: 991px) {
    .rotate-back {
        transition: transform 0.3s ease-in-out;
        transform: rotate(90deg); /* Rotaciona 180º quando a Escola B está selecionada */
    }
}
/* Imagem da navbar */
.navbar-logo {
    width: 5%;  /* Para telas grandes, 5% do tamanho da largura da tela */
    height: auto;  /* Mantém a proporção da imagem */
    margin-right: 1%;
    border-radius: 100%;
}
@media (max-width: 1000px) {
    .navbar-logo {
        width: 10%;
        border-radius: 100%; 
    }
}

/* Para telas pequenas (móveis), aumente o tamanho da imagem */
@media (max-width: 768px) {
    .navbar-logo {
        width: 20%;
        border-radius: 100%; 
    }
}

@media (max-width: 550px) {
    .navbar-logo {
        width: 25%;
        border-radius: 100%;
    }
}

/* Para telas ainda menores, como dispositivos móveis muito pequenos */
@media (max-width: 300px) {
    .navbar-logo {
        width: 30%;
        border-radius: 100%;
    }
}