/* General Container Styling */
.team-container-PDN {
  padding: 5% 10%;
  background: #121212;
}

/* Team Section */
.team-section-PDN {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

.info-box-PDN {
  background: #232323;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  color: #ffffff;
}

.team-details-PDN {
  color: #cccccc;
}

.section-title-PDN {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: #008c8c !important;
}

.subtitle-PDN {
  font-size: 1.5rem;
  margin-top: 15px;
  color: #008c8c;
}

.list-PDN {
  list-style-type: none;
  color: #999999;
  padding-left: 0;
}

.list-PDN li {
  margin-bottom: 10px;
}

/* Carousel Section */
.carousel-box-PDN {
  background: #232323;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 20px;
}

.carousel-image-PDN {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.swiper-container-PDN {
  margin-top: 20px;
}

.swiper-pagination-bullet {
  background: #008c8c!important; 
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: #008c8c;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #008c8c;
}

.fleet-section-PDN {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #232323;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

.fleet-content-PDN {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.fleet-image-container-PDN {
  flex: 1 1 40%;
  max-width: 500px;
  display: flex;
  justify-content: flex-start; /* Encosta a imagem à esquerda */
}

.fleet-image-PDN {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 15px;
  transition: transform 0.4s ease;
}

.fleet-details-PDN {
  flex: 1 1 30%;
  text-align: center;
}

.fleet-list-PDN {
  list-style: none;
  color: #cccccc;
  font-size: 1.2rem;
  padding: 0;
}

.fleet-list-PDN li {
  margin-bottom: 15px;
}

.fleet-contact-PDN {
  flex: 1 1 20%;
  text-align: center;
}

.text-white-PDN {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.fleet-button-PDN {
  background: #008c8c;
  color: #121212;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease-in-out, transform 0.3s ease;
}

.fleet-button-PDN:hover {
  background: #008c8c;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .fleet-content-PDN {
    flex-direction: column;
  }

  .fleet-image-container-PDN {
    justify-content: center;
  }

  .fleet-list-PDN {
    font-size: 1rem;
  }

  .fleet-button-PDN {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .fleet-list-PDN {
    font-size: 0.9rem;
  }

  .text-white-PDN {
    font-size: 0.9rem;
  }

  .fleet-button-PDN {
    padding: 8px 16px;
    font-size: 0.8rem;
  }
}