/* General Container Styling */
.team-container-OL {
  padding: 5% 10%;
  background: #121212;
}

/* Team Section */
.team-section-OL {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

.info-box-OL {
  background: #232323;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  color: #ffffff;
}

.team-details-OL {
  color: #cccccc;
}

.section-title-OL {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(0, 204, 0) !important;
}

.subtitle-OL {
  font-size: 1.5rem;
  margin-top: 15px;
  color: rgb(0, 204, 0);
}

.list-OL {
  list-style-type: none;
  color: #999999;
  padding-left: 0;
}

.list-OL li {
  margin-bottom: 10px;
}

/* Carousel Section */
.carousel-box-OL {
  background: #232323;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 20px;
}

.carousel-image-OL {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.swiper-container-OL {
  margin-top: 20px;
}

.swiper-pagination-bullet{
  background: rgb(0, 204, 0); 
}

.swiper-button-next,
.swiper-button-prev {
  color: rgb(0, 204, 0);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgb(0, 204, 0);
}
.fleet-section-OL {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #232323;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

.fleet-content-OL {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.fleet-image-container-OL {
  flex: 1 1 30%;
  max-width: 400px;
  display: flex;
  justify-content: flex-start; /* Encosta a imagem à esquerda */
}

.fleet-image-OL {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 15px;
  transition: transform 0.4s ease;
}

.fleet-details-OL {
  flex: 1 1 30%;
  text-align: center;
}

.fleet-list-OL {
  list-style: none;
  color: #cccccc;
  font-size: 1.2rem;
  padding: 0;
}

.fleet-list-OL li {
  margin-bottom: 15px;
}

.fleet-contact-OL {
  flex: 1 1 20%;
  text-align: center;
}

.text-white-OL {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.fleet-button-OL {
  background: rgb(0, 204, 0);
  color: #121212;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease-in-out, transform 0.3s ease;
}

.fleet-button-OL:hover {
  background: rgb(0, 204, 0);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .fleet-content-OL {
    flex-direction: column;
  }

  .fleet-image-container-OL {
    justify-content: center;
  }

  .fleet-list-OL {
    font-size: 1rem;
  }

  .fleet-button-OL {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .fleet-list-OL {
    font-size: 0.9rem;
  }

  .text-white-OL {
    font-size: 0.9rem;
  }

  .fleet-button-OL {
    padding: 8px 16px;
    font-size: 0.8rem;
  }
}
/*--------------------------------------- Light Mode -----------------------------------------*/

/* Team Section */
body.light-mode .team-container-OL {
  background: #dedede; /* Fundo branco */
}

body.light-mode .info-box-OL {
  background: #e7e7e7; /* Cinza claro */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  color: #000; /* Texto em preto */
}

body.light-mode .subtitle-OL {
  color: rgb(0, 204, 0); /* Verde */
}

body.light-mode .list-OL {
  color: #333333; /* Texto mais escuro */
}

/* Carousel Section */
body.light-mode .carousel-box-OL {
  background: #e7e7e7; /* Fundo mais claro */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Fleet Section */
body.light-mode .fleet-section-OL {
  background: #e7e7e7; /* Fundo branco */
}

body.light-mode .fleet-list-OL {
  color: #333333; /* Texto mais escuro */
}

body.light-mode .fleet-button-OL {
  color: #e7e7e7; /* Texto branco */
}
body.light-mode .text-white-OL{
  color: #333333;
}